<li class="list-group-item alert alert-success" role="alert">
  <p><%= notification.user.full_name %> sent a <%= notification.action %> you!</p>
  <p><small><%= time_ago_in_words(notification.created_at) %> ago</small></p>
  <%= form_with model: current_user, url: friendship_path(id: request.id)do |f| %>
      <%= f.submit "Accept", class: "btn btn-success btn-xs" %>
  <% end %>
  <%= form_with model: current_user, url: friendship_path(id: request.id), method: :delete do |f| %>
      <%= f.submit "Decline", class: "btn btn-danger btn-xs" %>
  <% end %>
</li>