<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-block">
        <span>
                        <h1 class="card-title float-left" style="font-size: 30px;"><%= @user.full_name %>
                          <small><%= @user.email %></small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="John Doe is sharing with you"></i></h1>
          <div class="float-right" id="followbtn">
             <% if !current_user.following?(@user) %>
                <%= form_with(model: current_user, url: followers_path, method: :create) do |f| %>
                  <%= hidden_field_tag :followed_id, @user.id %>
                    <%= f.submit "Follow", class: "btn btn-success" %>
                <% end %>
              <% else %>
                <%= form_with(model: current_user, url: follower_path(@user), method: :delete) do |f| %>
                    <%= f.submit "UnFollow", class: "btn btn-danger" %>
                <% end %>
              <% end %>
          </div>
        </span>
        <br/>
        <br/> <i class="fa fa-tags" aria-hidden="true"></i> <a href="/tags/diaspora" class="tag">#diaspora</a>
        <a href="/tags/hashtag" class="tag">#hashtag</a>
        <a
        href="/tags/caturday" class="tag">#caturday</a>
        <br/>
        <br/>
        <hr/>
        <span class="float-left">
              <a href="#" class="btn btn-link" style="text-decoration: none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts: <%= @user.posts.count %></a>
              <a href="#" class="btn btn-link" style="text-decoration: none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Views: <%= @user.views %></a>
              <a href="#" class="btn btn-link" style="text-decoration: none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Followers: <%= @user.followers.count %></a>
          </span>
        <span class="float-right">

              <a href="#" class="btn btn-link" style="text-decoration: none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>

              <a href="#" class="btn btn-link" style="text-decoration: none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>

              <a href="#" class="btn btn-link" style="text-decoration: none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>

          </span>
      </div>
    </div>
    <hr/>
    <!-- Simple post content example. -->
    <% @user.posts.reverse.each do |post| %>
        <%= render post %>
    <% end %>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header c-list">
        <ul class="pull-right c-controls">
          <li>
            <a href="#" class="hide-search" data-command="toggle-search"><i class="fa fa-search"></i></a>
          </li>
        </ul>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="#step1" class="nav-link active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
              Friends
            </a>
          </li>
          <li class="nav-item">
            <a href="#step2" class="nav-link" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
              Requests
            </a>
          </li>
          <li class="nav-item">
            <a href="#step3" class="nav-link" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
              Pending
            </a>
          </li>
        </ul>
      </div>
        <div class="row" style="display: none;">
          <div class="col-12">
            <div class="input-group c-search">
              <input type="text" class="form-control" id="contact-list-search">
              <span class="input-group-btn"><button class="btn btn-default" type="button"><span class="fa fa-search text-muted"></span></button></span>
            </div>
          </div>
        </div>
      <div class="tab-content">
        <div class="tab-pane active" id="step1">
          <ul class="list-group" id="contact-list">
            <% @user.friendships.each do |friendships| %>
                <li class="list-group-item">
                  <div class="col-xs-12 col-sm-3">
                    <img src="http://api.randomuser.me/portraits/women/76.jpg" alt="Glenda Patterson" class="img-responsive img-circle"/>
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <span class="name"><%= friendships.friend.full_name %></span><br/>
                    <span><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts: <%= friendships.friend.posts.count %></span>
                    <span><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Views: <%= friendships.friend.views %></span>
                    <span><i class="fa fa-fw fa-users" aria-hidden="true"></i> Followers: <%= friendships.friend.followers.count %></span>
                  </div>
                  <%= form_with model: current_user, url: friendship_path(id: friendships.id), method: :delete do |f| %>
                      <%= f.submit "Remove Friend", class: "btn btn-danger btn-xs" %>
                  <% end %>
                  <div class="clearfix"></div>
                </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="step2">
        <ul class="list-group">
          <% current_user.requested_friends.each do |request| %>
              <li class="list-group-item">
                <%= link_to request.full_name, user_path(request) %>
                <%= form_with model: current_user, url: friendship_path(id: request.id)do |f| %>
                  <%= f.submit "Accept", class: "btn btn-success btn-xs" %>
                <% end %>
                <%= form_with model: current_user, url: friendship_path(id: request.id), method: :delete do |f| %>
                    <%= f.submit "Decline", class: "btn btn-danger btn-xs" %>
                <% end %>
              </li>
          <% end %>
        </ul>
        </div>
        <div class="tab-pane" id="step3">
          <ul class="list-group">
            <% current_user.pending_friends.each do |request| %>
                <li class="list-group-item">
                  <%= request.full_name %>
                  <%= form_with model: current_user, url: friendship_path(id: request.id), method: :delete do |f| %>
                      <%= f.submit "Cancel", class: "btn btn-danger btn-xs" %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>