<div class="row">
  <div class="col-10">
    <% @posts.each do |post| %>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= link_to post.title, post_path(post)%>
              By:<%= link_to post.user.full_name, user_path(post.user), method: :get %></h4>
            <p class="card-text"><%= post.content.html_safe %></p>
          </div>
          <div class="card-footer">
            <p class="card-text">
              <small class="text-muted">Last updated: <%= post.updated_at %></small>
            </p>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col-2">
    <h1>Trending Posts</h1>
    <% @posts.each do |post| %>
        <div class="card">
          <h5 class="card-title"><%= link_to post.title, post_path(post) %>
            By:<%= link_to post.user.full_name, user_path(post.user), method: :get %></h5>
        </div>
    <% end %>
    <h1>Popular Posts</h1>
    <% @posts.each do |post| %>
        <div class="card">
          <h5 class="card-title"><%= link_to post.title, post_path(post) %>
            By:<%= link_to post.user.full_name, user_path(post.user), method: :get %></h5>
        </div>
    <% end %>
  </div>
</div>