<div class="row">
  <div class="col-10" id="post_list">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "#new_post_textarea",
            themes: "modern",
            menu: {
                table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
            },
            plugins: [
                "advlist autolink lists link image charmap preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
    <!-- commentsment box -->
    <div class="card">
      <h4><i class="fa fa-paper-plane-o"></i> New Post:</h4>
      <%= form_with(model: @post, id: 'post') do |f| %>
          <div class="form-group">
            <%= hidden_field_tag :user_full_name, current_user.full_name %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.text_area :content, class: "form-control", id: "new_post_textarea" %>
          </div>
          <button id="new_post" type="submit" name="say" value="<%= current_user %>" class="btn btn-primary">
            <i class="fa fa-reply"></i> Submit
          </button>
      <% end %>
    </div>
    <% @recent.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  <div class="col-2">
    <h1>Trending Posts</h1>
    <% @trending.each do |post| %>
        <div class="card">
          <h5 class="card-title"><%= link_to post.liked.title, post_path(post.liked) %>
            By:<%= link_to post.liked.user.full_name, user_path(post.liked.user), method: :get %></h5>
        </div>
    <% end %>
    <h1>Popular Posts</h1>
    <% @popular.each do |post| %>
        <div class="card">
          <h5 class="card-title"><%= link_to post.liked.title, post_path(post.liked) %>
            By:<%= link_to post.liked.user.full_name, user_path(post.liked.user), method: :get %></h5>
        </div>
    <% end %>
  </div>
</div>