<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Search Results</h1>
      <h1>Users</h1>
      <ul>
        <% @users.each do |user| %>
                  <div class="card">
                      <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                          <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
                          <h4><%= user.full_name %></h4>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-3">
                          <h3><strong>Posts: <%= user.posts.count %></strong></h3>
                          <h3><strong>Followers: <%= user.followers.count %> </strong></h3>
                          <h2><strong>Following: <%= user.following.count %></strong></h2>
                          <%= link_to "View Profile", user_path(user) ,class: "btn btn-info btn-block fa fa-user" %>
                        </div><!--/col-->
                      </div><!--/row-->
                  </div><!--/panel-->
        <% end %>
      </ul>
      <h1>Posts</h1>
      <% @results.each do |post| %>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title"><%= link_to post.title, post_path(post), method: :get %></h4>
              <p class="card-text"><%= post.content.html_safe %></p>
            </div>
            <div class="card-footer">
              <p class="card-text">
                <small class="text-muted">Last updated: <%= post.updated_at %></small>
              </p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>