<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Search Results</h1>
      <h1>Users</h1>
      <ul>
        <% @users.each do |user| %>
            <li class="list-group-item">
              <div class="col-xs-12 col-sm-3">
                <img src="http://api.randomuser.me/portraits/men/1.jpg" alt="Scott Stevens" class="img-fluid rounded-circle"/>
              </div>
              <div class="col-xs-12 col-sm-9">
                <span class="name"><a href="/user/<%= user.id %>"><%= user.full_name %></a></span><br/>
                <span class="fa fa-envelope text-muted c-info" data-toggle="tooltip"></span>
                <span class="visible-xs"> <span class="text-muted"><%= user.email %></span><br/></span>
                <span class="fa fa-user text-muted c-info" data-toggle="tooltip"></span>
                <span class="visible-xs"> <span class="text-muted">Followers: <%= user.followers %></span><br/></span>
                <span class="fa fa-eye text-muted c-info" data-toggle="tooltip"></span>
                <span class="visible-xs"> <span class="text-muted">Views: <%= user.views %></span><br/></span>
                <span class="fa fa-file-text text-muted c-info" data-toggle="tooltip"></span>
                <span class="visible-xs"> <span class="text-muted">Posts: <%= user.number_of_posts %></span><br/></span>
                <% if !session[:user].nil?
                     if user.id != session[:user].id %>
                        <a href="/add_friend/<%= user.id %>"><i class="fa fa-plus"></i>Add Friend</a>
                    <% end %>
                <% end %>
              </div>
              <div class="clearfix"></div>
            </li>
        <% end %>
      </ul>
      <h1>Posts</h1>
        <% @results.each do |post| %>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to post.title, post_path(post), method: :get %></h4>
                <p class="card-text"><%= post.content.html_safe %></p>
              </div>
              <div class="card-footer">
                <p class="card-text">
                  <small class="text-muted">Last updated: <%= post.updated_at %></small>
                </p>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>