<div id="post">
  <div class="container">

    <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-lg-10">

        <!-- Blog Post -->

        <!-- Title -->
        <h1><%= @post.title %></h1>

        <!-- Author -->
        <p class="lead">
          by <a href="/user/<%= @post.user_id %>"><%= @post.user.full_name %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="fa fa-time"></span> Posted on <%= @post.created_at %></p>

        <hr>

        <!-- Post Content -->
        <%= @post.content.html_safe %>
        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <div class="well">
          <h4>Leave a Comment:</h4>
          <%= form_with(model: [@post, @comment], id: "new-post-comment") do |f| %>
              <div class="form-group">
                <%= hidden_field_tag :user_full_name, current_user.full_name %>
                <%= f.text_area :body, class: "form-control" %>
              </div>
              <button id="new_post" type="submit" name="say" class="btn btn-primary"><i class="fa fa-reply"></i> Submit
              </button>
          <% end %>
        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        <div class="container">
          <div class="row">
            <div class="comments col-md-9" id="comments">
              <h3 class="mb-2" id="Comment-section">Comments</h3>
              <%= render(partial: 'comments/comment', collection: @post.comments.reverse) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>