<div class="container">
  <div class="row">
    <div class="col-lg-6">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <fieldset>
        <div id="legend">
          <legend class="">Register</legend>
        </div>
        <div class="control-group">
          <%= f.label :first_name, class: "form-control-label" %>
          <div class="controls">
          <%= f.text_field :first_name, class: "form-control form-control-lg", placeholder: "First Name" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :last_name %>
          <div class="controls">
          <%= f.text_field :last_name, class: "form-control form-control-lg", placeholder: "Last Name" %>
        </div>
      </div>
        <div class="control-group">
          <%= f.label :age %>
          <div class="controls">
            <%= f.text_field :age, type: "Number", class: "form-control form-control-lg", placeholder: "Age" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :email %>
          <div class="controls">
          <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Email Address" %>
        </div>
      </div>
        <div class="control-group">
          <%= f.label :password %>
          <div class="controls">
          <%= f.text_field :password, type: "password", class: "form-control form-control-lg", placeholder: "Password" %>
        </div>
      </div>
        <div class="control-group">
          <%= f.label :password_confirmation %>
          <div class="controls">
          <%= f.text_field :password_confirmation, type: "password", class: "form-control form-control-lg", placeholder: "Confirm Password" %>
        </div>
      </div>
      <hr/>
        <div class="control-group">
          <div class="controls">
          <button class="btn btn-success">Register</button>
          </div>
        </div>
      </fieldset>
  <% end %>
    </div>
</div>
</div>